.collection-carousel {
    padding: 45px 50px;

    max-width: 900px;

    .main-title {
        font-family: $f2;
        font-weight: 400;
        font-size: 56px;
        text-align: center;
        @include responsive(md) {
            font-size: 25px;
        }
    }

    .carousel {

        padding: 20px 0;

        /* the slides */
        .slick-slide {
            margin: 0 10px;
        }

        /* the parent */
        .slick-list {
            margin: 0 -10px;
            padding: 10px 0;
        }

        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }

        .rightButton {
            position: absolute;
            top: 50%;
            right: -30px;
            z-index: 123;
            transform: translateX(-50%);
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        .leftButton {
            position: absolute;
            top: 50%;
            left: -30px;
            z-index: 123;
            transform: translateX(-50%);
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .button {
        text-align: center;

        a {
            font-family: $f3;
            transition: inherit;
            color: #FFFFFF;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.05em;
            font-size: 29px;
            background-color: $orange;
            padding: 4px 100px;
            text-decoration: none;
            transition: all .2s ease, visibility 0s;

            &:hover {
                background-color: white;
                outline: 1px solid $black;
                color: $black;
            }
        }
    }
}