.my-account-page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    .woocommerce-myaccount-page {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        gap: 30px;
        @include responsive(md) {
            grid-template-columns: 01fr;
        }
        .woocommerce-MyAccount-navigation {
            @include responsive(md) {
            }
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin: 0;
                li {
                    list-style: none;
                    border-bottom: 1px solid $black;
                    &.is-active {
                        a {
                            color: $yellow !important;
                        }
                    }
                    &:nth-child(1) {
                        border-top: 1px solid $black;
                        a {
                            padding-top: 20px;
                        }
                    }
                    a {
                        display: block;
                        text-decoration: none;
                        @include font($f1, 700, 20px, $black, true);
                        padding-bottom: 20px;
                    }
                }
            }
        }

        .woocommerce-MyAccount-content {
            @include input_select();
            table {
                thead {
                    tr {
                        th {
                            // Styles for the cart-subtotal class
                            @include font($f2, 600, 20px, $black, true);
                        }

                        td {
                            // Styles for the cart-subtotal class
                            @include font($f2, 400, 16px, $black, true);
                        }
                    }
                }

                tbody {
                    tr {
                        th {
                            // Styles for the cart-subtotal class
                            @include font($f2, 600, 20px, $black, true);
                        }

                        td {
                            // Styles for the cart-subtotal class
                            @include font($f2, 400, 16px, $black, true);
                        }
                    }
                }

                tfoot {
                    tr {
                        th {
                            // Styles for the cart-subtotal class
                            @include font($f2, 600, 20px, $black, true);
                        }

                        td {
                            // Styles for the cart-subtotal class
                            @include font($f2, 400, 16px, $black, true);
                        }
                    }
                }
            }
            form {
                h3 {
                    @include font($f1, 700, 20px, $black, true);
                    margin: 0;
                }
                legend {
                    @include font($f1, 400, 16px, $black, true);
                }
            }
            .dashboard {
                @include font($f1, 400, 16px, $black, true);
                margin: 0;
            }
            .woocommerce-address-tab {
                p {
                    @include font($f1, 700, 20px, $black, true);
                    margin: 0;
                }
                .woocommerce-Addresses {
                    padding: 20px 0;
                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 0;
                        @include font($f1, 700, 20px, $black, true);
                        h3 {
                            @include font($f1, 700, 20px, $black, true);
                            margin: 0;
                        }
                    }
                    address {
                        @include font($f1, 500, 16px, $black, true);
                    }
                }
            }
            .subscriptions {
                display: grid;
                gap: 20px;
                &.multi-pack-orders {
                    .add-item {
                        display: none !important;
                    }
                }
                div.subscription {
                    position: relative;
                    display: grid;
                    grid-template-rows: 0.3fr auto;
                    grid-template-columns: 0.25fr 1fr;
                    gap: 10px;

                    background-color: #57575731;
                    padding: 20px;

                    min-height: 400px;

                    padding-bottom: 40px;
                    @media (max-width:767px) {
                        grid-template-columns: 12fr;
                    }
                    .activate-subscription {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $orange;

                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                        gap: 40px;

                        .title {
                            @include font($f1, 400, 35px, black);
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            text-align: center;
                            @include responsive(md) {
                                font-size: 20px;
                            }
                        }
                        .name {
                            @include font($f1, 400, 25px, black);
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            text-align: center;
                            @include responsive(md) {
                                font-size: 20px;
                            }
                        }

                        button {
                            padding: 10px 30px;
                            border: none;
                            background-color: white;
                            font-family: $f1;
                            color: black;
                            text-decoration: none;
                            border-radius: 4px;
                            cursor: pointer;
                            font-size: 25px;
                        }
                    }

                    &-header {
                        grid-column: 1 / 3;
                        .title {
                            @include font($f1, 400, 35px, black);
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: bold;
                            letter-spacing: 2px;
                        }
                    }

                    &-address {
                        grid-row: 2;
                        grid-column: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;
                        width: 90%;
                        @media (max-width:767px) {
                            grid-row: 1;
                        }
                        div {
                            display: flex;
                            gap: 3px;
                            flex-wrap: wrap;
                            h4 {
                                @include font($f1, 400, 14px, #575757);
                            }
                            p {
                                @include font($f1, 400, 16px, #575757);
                            }
                            &.name {
                                p {
                                    @include font($f1, 700, 20px, black);
                                }
                            }
                            h4,
                            p {
                                margin: 0;
                            }
                        }

                        button, a {
                            all: unset;
                            text-decoration: underline;
                            @include font($f1, 400, 16px, #575757);
                            cursor: pointer;
                        }

                        a.ms {
                            margin-top: 10px;
                        }
                    }

                    .all-products {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 20px;
                        grid-auto-rows: 1fr;

                        @media (max-width: 1080px) {
                            grid-template-columns: 1fr 1fr;
                        }
                        @include responsive(sm) {
                            grid-template-columns: 1fr;
                        }
                        .product {
                            display: flex;
                            flex-direction: column;
                            &:hover {
                                .image {
                                    img {
                                        transform: scale(1.5);
                                    }
                                    .quickView {
                                        transform: translateY(-50px);
                                    }
                                }
                            }
                            &.delivered {
                                .image {
                                    img {
                                        filter: grayscale(1);
                                    }
                                    .icon {
                                        position: absolute;
                                        width: 30px;
                                        height: 30px;
                                        z-index: 200;
                                        right: 8px;
                                        bottom: 8px;
                                        filter: grayscale(0);
                                    }
                                }
                            }
                            .image {
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center;
                                    transition: all 0.3s ease-in-out;
                                }

                                position: relative;

                                .quickView {
                                    background-color: rgba(255, 255, 255, 0.75);
                                    position: absolute;
                                    left: 0;
                                    width: 100%;
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-family: $f1;
                                    font-weight: 400;
                                    cursor: pointer;
                                    font-size: 14px;
                                    z-index: 5;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                            .info {
                                padding: 10px 0;
                                flex: 1;
                                // display: flex;
                                // gap: 10px;
                                .left {
                                    // flex: 1;
                                    display: flex;
                                    justify-content: space-between;
                                    .shipping {
                                        @include font($f1, 600, 20px, #575757);
                                    }
                                    .time-left {
                                        margin-top: 4px;
                                        @include font($f1, bold, 12px, #575757);
                                    }
                                }
                                .actions {
                                    // display: flex;
                                    // flex-direction: column;
                                    // gap: 10px;
                                    // justify-content: space-between;
                                    margin-top: 15px;
                                    button {
                                        padding: 8px 10px;
                                        background-color: $black;
                                        border: 2px solid $black;
                                        color: white;
                                        transition: all 0.3s ease-in-out;
                                        width: 100%;
                                        font-size: 15px;
                                        font-weight: 400;
                                        font-family: $f1;
                                        margin-bottom: 10px;
                                        display: none;
                                        span.load {
                                            display: none;
                                        }

                                        &.loading {
                                            span.simple {
                                                display: none;
                                            }

                                            span.load {
                                                display: block;
                                            }
                                        }

                                        &:hover {
                                            background-color: transparent;
                                            cursor: pointer;
                                            color: #575757;
                                        }
                                        &.remove {
                                            background-color: transparent;
                                            border: 2px solid $orange;
                                            color: $yellow;
                                            display: block;
                                            &:hover {
                                                background-color: $orange;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .add-item {
                            cursor: pointer;
                            border: 2px solid #575757;
                            border-radius: 1rem;
                            display: grid;
                            place-items: center;
                            height: 250px;
                            svg {
                                fill: #575757;
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
                .modify-subscription-modal {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba(15, 15, 15, 0.397);
                    z-index: 999;
                    display: grid;
                    display: none;
                    place-items: center;
                    .modal-content {
                        margin: auto;
                        padding: 20px;
                        background-color: white;
                        border-radius: 20px;
                        max-width: 1200px;
                        height: 80%;
                        overflow-y: scroll;
                        margin: 0 20px;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        @include responsive(md) {
                            grid-template-columns: 1fr 1fr;
                        }
                        @include responsive(sm) {
                            grid-template-columns: 1fr;
                        }

                        grid-auto-rows: 1fr;
                        gap: 20px;
                        .product {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            .image {
                                flex: 1;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .info {
                                display: flex;
                                gap: 20px;
                                button {
                                    padding: 10px;
                                    width: 100%;
                                    background-color: rgba(87, 87, 87, 0.2);
                                    border: none;
                                    cursor: pointer;
                                    @include font($f1, 400, 16px, black);
                                }
                                a {
                                    display: block;
                                    padding: 10px;
                                    text-align: center;
                                    width: 100%;
                                    background-color: rgba(87, 87, 87, 0.2);
                                    border: none;
                                    cursor: pointer;
                                    @include font($f1, 400, 16px, black);
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .see-more-product,
                .see-less-product {
                    cursor: pointer;
                    /* text-align: center; */
                    @include font($f1, 400, 16px, white);
                    color: #db2222;
                    width: fit-content;
                    // margin-left: auto;
                    display: flex;
                    align-items: center;
                    svg {
                        width: 12px;
                        height: 12px;
                        margin-right: 10px;
                    }
                }
                .see-less-product {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }
                .see-more-product {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }
            .add-subscription {
                padding: 20px 0;
                text-align: right;
                a {
                    padding: 10px 30px;
                    border: none;
                    background-color: $orange;

                    font-family: $f1;
                    color: white;
                    text-decoration: none;
                    border-radius: 4px;
                }
            }
            #addressFormModal {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(15, 15, 15, 0.397);
                z-index: 999;
                display: none;
                place-items: center;
                .modal-content {
                    background-color: white;
                    position: relative;
                    max-height: 95vh;
                    max-width: 800px;
                    width: 100%;

                    overflow-y: scroll;

                    padding: 20px;
                    border-radius: 20px;


                    @include responsive(sm) {
                        max-width: 100%;
                        max-height: 100%;
                        height: 100%;
                        border-radius: 0px;
                    }

                    .head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        h2 {
                            @include font($f1, 700, 20px, $black, true);

                            @include responsive(sm) {
                                font-size: 16px;
                            }
                        }

                        span {
                            cursor: pointer;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            font-size: 35px;
                        }
                    }

                    form {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;

                        max-width: 100%;

                        @include responsive(sm) {
                            grid-template-columns: 1fr;
                        }

                        .field {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            label {
                                @include font($f1, 700, 20px, $black, true);
                            }
                            input {
                                padding: 8px 10px;
                                @include font($f1, 400, 20px, $black, true);
                                @include responsive(sm) {
                                    padding: 0px 5px;
                                }
                            }
                        }
                        button {
                            all: unset;
                            font-family: $f3;
                            transition: inherit;
                            color: #ffffff;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: 0.05em;
                            font-size: 20px;
                            background-color: $orange;
                            padding: 4px 80px;
                            text-decoration: none;
                            transition: all 0.2s ease, visibility 0s;
                            cursor: pointer;
                            text-align: center;
                            grid-column: 1 / 3;
                            &:hover {
                                background-color: white;
                                outline: 1px solid $black;
                                color: $black;
                            }
                            @include responsive(sm) {
                                grid-column: 1;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .woocommerce-EditAccountForm {
                .woocommerce-form-row:nth-child(4) {
                    display: none;
                }
            }
        }
    }
    .mini-shop {
        display: grid;
        gap: 30px;
        grid-template-columns: 0.3fr 1fr;
        @include responsive(md) {
            grid-template-columns: 1fr;
        }
        .placeholder {
            @include responsive(md) {
                display: none;
            }
        }
    }
    .login-form {
        max-width: 980px;
        margin: 0 auto !important;
        h2 {
            @include font($f1, 700, 26px, $black, true);
        }
        p {
            display: flex;
            flex-direction: column;
            gap: 4px;
            label {
                @include font($f1, 700, 20px, $black, true);
            }
            input {
                padding: 8px 10px;
                @include font($f1, 400, 20px, $black, true);
            }
            a {
                @include font($f1, 400, 16px, $black, true);
            }
            button {
                background-color: $orange;
                color: white;
                &:hover {
                    background-color: $orange;
                }
            }
        }
    }

    .woocommerce-message {
        max-width: 980px;
        margin: 0 auto !important;
    }

    .woocommerce-ResetPassword {
        .title {
            @include font($f1, 700, 20px, $black, true);
        }
        label {
            @include font($f1, 700, 20px, $black, true);
        }
        input {
            padding: 10px;
            border: 2px solid $black;
            border-radius: 6px;
        }
    }
}
.my_account_exchange {
    margin: 20px 0;
}
